.filters-form,
.clients-list-container {
    padding: 10px;
}

.filters-form {
    position: fixed;
    overflow: auto;
    height: 100%;
    padding-right: 20px;
    background: #fdfdfd;
    border-right: 1px solid #cccccc;

    &-item {
        margin-bottom: 10px;

        &-title {
            margin-bottom: 2px;
            font-weight: bold;
        }
    }

    &-search {
        input {
            width: calc(100% - (8px * 2)); // Полная ширина формы фильтров минус внутренние отступы поля

            &:focus {
                background: #ffffff;
            }
        }
    }

    &-checkboxes {
        input[type=checkbox] {
            vertical-align: middle;
            margin-right: 2px;
        }
    }

    &-submit {
        input[type=submit] {
            width: 100%;
            font-weight: bold;
            background: #ffffff;

            &:not([disabled]):hover {
                cursor: pointer;
                background: #f1f1f1;
            }
        }
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;

    table#{&}-item {
        border-radius: 2px;
        border-collapse: collapse;
        width: 30%;
        float: left;
        margin-bottom: 20px;
        margin-right: 20px;

        th, td {
            padding: 2px 4px;
            border: 1px solid #cccccc;
            vertical-align: top;
        }

        th {
            text-align: right;
            word-break: keep-all;
        }

        td {
            word-break: break-all;
        }
    }

    &-loader {
        height: 40px;
        width: 40px;
        margin: auto;
        background: url("../images/loader.gif") no-repeat;
    }
}

.client {
    &-tags {
        min-height: 16px; // Высота лоадера

        ul#{&}-list {
            li {
                float: left;
                padding: 2px 4px;
                margin-right: 5px;
                margin-top: 4px;
                border: 1px solid #ccc;
                border-radius: 2px;
                background: #ffffff;
                cursor: default;
            }
        }

        &-remove {
            cursor: pointer;
            color: #cccccc;
            font-weight: bold;
            font-size: 1.2em;
            vertical-align: middle;

            &:hover {
                color: #bdbdbd;
            }
        }

        &-select {
            padding: 4px 8px;
        }

        &-loader {
            height: 16px;
            width: 16px;
            background: url("../images/loader_small.gif") no-repeat;
        }
    }
}
