* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
}

input:not([type=checkbox]),
select {
    background: #fdfdfd;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 8px 10px;
}

ul {
    list-style: none;
}

.hidden {
    display: none !important;
}
